# Flutter/Dart/Pub
.dart_tool/
.packages
.pub-cache/
.pub/
build/
generated_plugin_registrant.dart

# Logs
*.log

# IDE Files
# IntelliJ / Android Studio
*.iml
.idea/
.gradle/
local.properties

# VS Code
.vscode/

# Flutter Plugin
.flutter-plugins
.flutter-plugins-dependencies

# Symbolication/Crash Logs
app.*.map.json

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*

# Android
android/.gradle/
android/app/key.properties
android/key.jks

# Web
web/.dart_tool/
web/.firebase/

# Mac/Windows/Linux Build
macos/Flutter/Flutter.framework/
linux/Flutter/ephemeral/
windows/Flutter/ephemeral/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots

# Misc
*.dart.js
*.js.deps
*.js.tar.gz
coverage/
*.zip
.DS_Store
